################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarDealership/copilot-chat/b2f19c14/sessions
/.vs/CarDealership/CopilotIndices/17.14.698.11175
/.vs/CarDealership
